@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-worksans: "WorkSans", sans-serif;
  --color-jcm-blue-dark: #080c2d;
  --color-jcm-mediumdark: #1d274c;
  --color-jcm-blue-medium: rgb(20, 86, 255);
  --color-jcm-blue-light: rgb(0, 105, 255);
  --shadow-input: 0 5px 1px 0 rgb(0, 0, 0, 0.1);
  --shadow-input-focus: 0 2px 1px 0 rgb(0, 0, 0, 0.1);
  }